@import "/src/app/assets/styles/variables";
.list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  @include bp(sp) {
    display: block;
  }
  &::before,
  &::after {
    content: "";
    display: block;
    width: 31.5%;
    order: 1;
  }
}
